---
layout: default
title: Home
---

{% if page.url == "/" %}

<section class="featured-posts">
  <div class="section-title">
    <h2><span>Twitch</span></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="twitch-embed" style="width: 100%"></div>

      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        const embedWidth = document.querySelector('#twitch-embed').clientWidth;
        const ratio = 0.45;
        const height = Math.max(embedWidth * ratio, 400);
        new Twitch.Embed("twitch-embed", {
          width: '100%',
          height: height,
          channel: "x5_pig",
          autoplay: false,
        });
      </script>
    </div>
  </div>
</section>

<div class="row">

  <div class="col-lg-4">
    <section class="recent-posts" data-youtube-videos data-youtube-videos-order="date" data-youtube-videos-limit="4" v-cloak>
      <div class="section-title">
        <h2><span>Latest Youtube Videos</span></h2>
      </div>

      <div class="row listrecent">
        <div class="col-lg-12 col-md-12 mb-30px card-group" v-for="item in items">
          <div class="card h-100">
            <div class="maxthumb">
              <a target="_blank" v-bind:href="videoUrl(item)">
                <img class="img-fluid" v-bind:src="item.snippet.thumbnails.medium.url" alt=""/>
              </a>
            </div>
            <div class="card-body">
              <h2 class="card-title">
                <a class="text-dark" target="_blank" v-bind:href="videoUrl(item)" v-html="item.snippet.title">
                </a>
              </h2>
            </div>
            <div class="card-footer bg-white">
              <div class="wrapfooter">
                <span class="post-date" style="float: right" v-html="timeAgo(item.snippet.publishedAt)"></span>
                <span class="post-date" v-if="statistics[item.id.videoId]" v-html="numberWithCommas(statistics[item.id.videoId].viewCount) + ' views'">
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-lg-4">
    <section class="">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2><span>Twitter</span></h2>
          </div>
          <a class="twitter-timeline" href="https://twitter.com/x5_PiG?ref_src=twsrc%5Etfw" data-tweet-limit="5" data-chrome="nofooter noborders noheader">Tweets by x5_PiG</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </section>
  </div>

  <div class="col-lg-4">
    <section class="">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2><span>Instagram</span></h2>
          </div>
          <div id="instafeed" class="row"></div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
          <script type="text/javascript">
            Instafeed.prototype._makeTemplate = function(template, data) {
              return '<div class="col-sm-12 mb-3"><a href="' + data.link + '"><img style="width: 100%" src="' + data.image + '" alt="' + data.caption + '" /></a>' + data.caption + '</div>';
            };
            var feed = new Instafeed({
              get: 'user',
              userId: '2047350331',
              clientId: '88cc30b609e743089b67a5551738761f',
              accessToken: '2047350331.88cc30b.5e35a63a57024801ac5f98e5bc2c7e0e',
              template: '', // defined in _makeTemplate
              resolution: 'standard_resolution',
              limit: 5,
            });
            feed.run();
          </script>

        </div>
      </div>
    </section>
  </div>

</div>

{% endif %}

<!-- Pagination
================================================== -->
<!--
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
{% include pagination.html %}
</span>
</div>
-->
