---
layout: default
title: Home
---

{% if page.url == "/" %}

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Twitch</span></h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="twitch-embed" style="width: 100%"></div>

        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
          const embedWidth = document.querySelector('#twitch-embed').clientWidth;
          const ratio = 0.45;
          new Twitch.Embed("twitch-embed", {
            width: '100%',
            height: embedWidth * ratio,
            channel: "x5_pig",
            autoplay: false
          });
        </script>
      </div>
    </div>
</section>

<section class="recent-posts">

    <div class="section-title">

        <h2><span>Latest Youtube Videos</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in site.latest_youtube_videos %}
               {% include postbox.html %}
        {% endfor %}

    </div>

</section>

<section class="">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
            <h2><span>Twitter</span></h2>
        </div>
        <a class="twitter-timeline" href="https://twitter.com/x5_PiG?ref_src=twsrc%5Etfw" data-tweet-limit="5" data-chrome="nofooter noborders noheader">Tweets by x5_PiG</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
</section>

{% endif %}

<!-- Pagination
================================================== -->
<!--
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
 -->
